<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">Legend Incorporated.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">200</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class="w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_Legend">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="Legend">Buy</div>
<input type="hidden" value="0" id="Legend_sells">
<input type="hidden" value="200" id="Legend_price">
<input type="hidden" value="0" id="Legend_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">FuNGame Incorporated.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">98</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_FuNGame">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="FuNGame">Buy</div>
<input type="hidden" value="0" id="FuNGame_sells">
<input type="hidden" value="98" id="FuNGame_price">
<input type="hidden" value="0" id="FuNGame_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">Twitter Incorporated.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">110</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_Twitter">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="Twitter">Buy</div>
<input type="hidden" value="0" id="Twitter_sells">
<input type="hidden" value="110" id="Twitter_price">
<input type="hidden" value="0" id="Twitter_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">副市糠股份有限公司</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">50</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_Foxconn">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="Foxconn">Buy</div>
<input type="hidden" value="0" id="Foxconn_sells">
<input type="hidden" value="50" id="Foxconn_price">
<input type="hidden" value="0" id="Foxconn_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">TXN Incorporated.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">150</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_TXN">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="TXN">Buy</div>
<input type="hidden" value="0" id="TXN_sells">
<input type="hidden" value="150" id="TXN_price">
<input type="hidden" value="0" id="TXN_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">Baidu Inc.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">47</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_Baidu">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="Baidu">Buy</div>
<input type="hidden" value="0" id="Baidu_sells">
<input type="hidden" value="47" id="Baidu_price">
<input type="hidden" value="0" id="Baidu_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">Weibo Corporation.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">150</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_Weibo">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="Weibo">Buy</div>
<input type="hidden" value="0" id="Weibo_sells">
<input type="hidden" value="150" id="Weibo_price">
<input type="hidden" value="0" id="Weibo_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">Apple Inc.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">600</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_Apple">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="Apple">Buy</div>
<input type="hidden" value="0" id="Apple_sells">
<input type="hidden" value="600" id="Apple_price">
<input type="hidden" value="0" id="Apple_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">IBM Corporation.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">60</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_IBM">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="IBM">Buy</div>
<input type="hidden" value="0" id="IBM_sells">
<input type="hidden" value="60" id="IBM_price">
<input type="hidden" value="0" id="IBM_chNet">
</div>
<!------->
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">COCA-COLA Co.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">350</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_COCA-COLA">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="COCA-COLA">Buy</div>
<input type="hidden" value="0" id="COCA-COLA_sells">
<input type="hidden" value="350" id="COCA-COLA_price">
<input type="hidden" value="0" id="COCA-COLA_chNet">
</div>
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">連彂科技股份有限公司</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">290</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class="w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px;" value="1" id="_MediaTek">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="MediaTek">Buy</div>
<input type="hidden" value="0" id="MediaTek_sells">
<input type="hidden" value="290" id="MediaTek_price">
<input type="hidden" value="0" id="MediaTek_chNet">
</div>
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">NVIDIA CORP.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">180</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_NVIDIA">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="NVIDIA">Buy</div>
<input type="hidden" value="0" id="NVIDIA_sells">
<input type="hidden" value="180" id="NVIDIA_price">
<input type="hidden" value="0" id="NVIDIA_chNet">
</div>
<div class="w3-panel">
<div class="stock w3-bar-item" style="word-break : normal;width: 20%">DODO bird Inc.</div>
<div class="sells w3-bar-item" style="width: 20%">0</div>
<div class="price w3-bar-item" style="width: 20%">10</div>
<div class="ch w3-bar-item" style="width: 20%">0</div>
<input class=" w3-bar-item w3-border" type="number" min="1" max="1000" style="width: 80px" value="1" id="_DODO bird">
<div class="buy w3-bar-item w3-button w3-pale-green" align="center" style="width: 15%" id="DODO bird">Buy</div>
<input type="hidden" value="0" id="DODO bird_sells">
<input type="hidden" value="10" id="DODO bird_price">
<input type="hidden" value="0" id="DODO bird_chNet">
</div>
<!--////////////////////////////////////////////////////////////////////////////////-->
<!--<div class="w3-panel">-->
<!--<div class="w3-bar-item" style="word-break : normal;width: 18%">Legend Incorporated.</div>-->
<!--<input type="hidden" value="0">-->
<!--<div class="w3-bar-item" style="width: 18%">5</div>-->
<!--<div class="w3-bar-item" style="width: 18%">1000</div>-->
<!--<div class="w3-bar-item" style="width: 18%">200</div>-->
<!--<div class="w3-bar-item" style="width: 13%">0</div>-->
<!--<div class="w3-dropdown-hover">-->
<!--<div class="w3-bar-item w3-button w3-pale-red" style="width: 120px">sell</div>-->
<!--<div class="w3-dropdown-content w3-bar-block w3-border">-->
<!--<input class="w3-bar-item " type="number" min="1" max="1000" value="1">-->
<!--<div class="w3-bar-item w3-button w3-pale-red" onclick="sellthing(id)" id="Legend">sell</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->